/* latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxygen/v10/2sDcZG1Wl4LcnbuCNWgzaGW5Kb8VZA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    color: #42486E;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    width: 100%;
}
.light_bg {
    background: url(./images/light_squares.svg);
    background-size: cover;
}
.dark_bg {
    background: url(./images/dark_squares.svg);
    background-size: cover;
}
.light_button_bg {
    background: var(--light_bg);
}
.dark_button_bg {
    background: var(--dark_bg);
}
header {
    position: relative;
    height: 100px;
    min-width: var(--full-board-size);
    margin-bottom: 100px;
    background: #efefef;
}
header div {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 0 auto;
    height: 100px;
    max-width: 850px;
    align-items: center;
    padding-left: 20px; 
    padding-right: 20px; 
}
header h1 {
    text-transform: uppercase;
    font-style: oblique;
    color:hsl(0, 2%, 15%);
    font-size: 1.2rem;
}
header input {
    justify-self: center;
}
#whole_page {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    max-width: 850px;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
#sudoku_container {
    padding: 20px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: var(--full-board-size);
    height: var(--full-board-size);
    grid-row: 1 / 2;
    grid-auto-columns: minmax(355px, auto);
    align-self: center;
    justify-self: center;
}

#sudoku_container div {    
    box-sizing: content-box;
    width: var(--element-size);
    height: var(--element-size);
    margin: var(--element-margin);
    background-color: #efefef;
    border-radius: 3px;
    display: flex;
    line-height: var(--element-size);
    justify-content: center;
    font-size: 1.2rem;
    color: hsl(0, 2%, 15%);
}
#sudoku_container div:nth-child(3n) {
    margin-right: var(--block-divider);
}
#sudoku_container div:nth-child(19), #sudoku_container div:nth-child(47) {
    margin-bottom: var(--block-divider);
}
#sudoku_container div:focus {
    outline: none;
}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 2 / 3;
    margin: 0 auto;
    align-content: center;
}
button {
    grid-row: 2 / 3;
}
button {
    position: relative;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.1rem;
    font-style: oblique;
    margin: 20px;
    border: none;
}
button, span {
    width: 120px;
    height: 50px;
    border-radius: 30px;
}
button span {
    position: absolute;
    background: #efefef;
    line-height: 50px;
    top: -5px;
    left: 0;
    transition: 50ms ease-out;
}
button span:hover {
    top: -8px;
}
button span:active {
    top: 0;
}
button:focus {
    outline-offset: 10px;
    outline-style: solid;
    outline-color: #efefef;
}
#error_message {
    display: flex;
    grid-column: span 2;
    color: #fefefe;
    justify-content: center;
    align-self: center;
}
#error_message p {
    background: var(--error-colour);
    padding: 20px;
    border-radius: 30px;
}
.invalid {
    background-color: var(--error-colour) !important;
}
:root {
    --dark_bg: #42486E;
    --light_bg: #B9C3DE;
    --error-colour: hsl(0, 57%, 58%);
    /* sudoku elements */
    --element-size: 40px;
    --element-margin: 2px;
    --full-board-size: calc(var(--element-size)*9 + var(--element-margin)*25);
    --block-divider: 6px;
}
@media only screen and (max-width: 550px) {
    #whole_page {
        grid-template-rows: 4fr 1fr 1fr;
    }
    #buttons > * {
        justify-self: center;
    }
    button {
        font-size: 0.8rem;
        margin: 20px;
    }
    button, span {
        width: 90px;
        height: 30px;
        border-radius: 30px;
    }
    button span {
        line-height: 30px;
    }
    :root {
        --element-size: 30px;
        --element-margin: 2px;
    }
    header {
        margin-bottom: 10px;
    }
    header div h1 {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 375px) {
    :root {
        --element-size: 20px;
        --element-margin: 2px;
    }
}